* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-size: 14px; }

body {
  font-family: Helvetica, Arial, sans-serif;
  font-weight: 400; }

header {
  background-color: #000;
  color: #fff; }
  header .header-block {
    display: flex;
    width: 95%;
    padding: 1rem 0; }
    header .header-block .logo {
      width: 15%;
      display: flex;
      align-items: center;
      justify-content: space-between; }
      header .header-block .logo .logo2 {
        padding-top: 2.2rem; }
    header .header-block .Mynavbar {
      margin-left: auto; }
      header .header-block .Mynavbar .top-navbar-block .top-navbar {
        display: flex;
        justify-content: flex-end; }
        header .header-block .Mynavbar .top-navbar-block .top-navbar ul {
          flex-direction: row; }
        header .header-block .Mynavbar .top-navbar-block .top-navbar .top-navbar-item:hover a {
          color: #00adef !important; }
        @media only screen and (max-width: 768px) {
          header .header-block .Mynavbar .top-navbar-block .top-navbar .top-navbar-item .mobile-hidden {
            display: none; } }

.li-white {
  color: #fff !important;
  text-decoration: none;
  font-size: 1.15rem !important;
  font-weight: 400; }
  .li-white:first-child span {
    font-size: 1.15rem; }
  .li-white:first-child .icon {
    text-align: center;
    padding-right: 1rem; }
    .li-white:first-child .icon i {
      height: 1.5rem;
      width: 1.5rem;
      line-height: 1.5rem;
      border: 1px solid white; }

.myNav-item {
  padding: 0 1.2rem;
  font-weight: 400;
  display: flex;
  align-items: center; }
  .myNav-item:hover a {
    color: #00adef !important; }
  .myNav-item:last-child {
    align-self: center; }

.navbar-mobile-button {
  justify-content: flex-end; }

.mobile-search {
  display: none; }
  @media only screen and (max-width: 1200px) {
    .mobile-search {
      display: inline-block;
      padding-right: 10px; } }

.myCarousel .myCarousel-inner .myCarousel-item {
  position: relative; }
  .myCarousel .myCarousel-inner .myCarousel-item .myCarousel-item__content {
    position: absolute;
    left: 10%;
    top: 7%;
    width: 31%; }
    @media only screen and (max-width: 768px) {
      .myCarousel .myCarousel-inner .myCarousel-item .myCarousel-item__content {
        display: none; } }
    .myCarousel .myCarousel-inner .myCarousel-item .myCarousel-item__content .carousel-item__title-dark {
      color: #333;
      font-size: 2.5rem; }
    .myCarousel .myCarousel-inner .myCarousel-item .myCarousel-item__content .carousel-item__title-white {
      color: #fff;
      font-size: 2.5rem; }
    .myCarousel .myCarousel-inner .myCarousel-item .myCarousel-item__content .btn-gray {
      background-color: #333;
      color: #ddd;
      font-size: 1.15rem;
      font-weight: 500;
      padding: 10px 35px;
      letter-spacing: 1px;
      border-radius: none !important;
      border: none;
      margin-top: 3rem;
      transition: all 0.2s ease-in-out; }
      .myCarousel .myCarousel-inner .myCarousel-item .myCarousel-item__content .btn-gray:hover {
        background-color: #000; }

.search-bar {
  background-color: #333;
  height: 98px;
  display: grid;
  place-items: center; }
  .search-bar .search-bar-container {
    width: 80%;
    background-color: white; }
    .search-bar .search-bar-container .search-input {
      width: 100%;
      padding: 10px 15px;
      border: none; }
      .search-bar .search-bar-container .search-input::placeholder {
        font-size: 1.3rem;
        font-weight: bold;
        letter-spacing: 1px;
        color: #ddd; }
      .search-bar .search-bar-container .search-input:focus {
        outline: none; }
    .search-bar .search-bar-container span {
      background-color: #fff;
      align-self: center;
      cursor: pointer; }
      .search-bar .search-bar-container span i {
        color: black !important;
        font-size: 1.2rem !important; }

/*# sourceMappingURL=style.css.map */
