* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-size: 14px; }

body {
  font-family: Helvetica, Arial, sans-serif;
  font-weight: 400; }

.col-no-pd {
  padding-left: 0;
  padding-right: 0; }

@media screen and (min-width: 992px) {
  .mobile-show {
    display: none; } }

.desktop-show {
  display: none; }
  @media screen and (min-width: 992px) {
    .desktop-show {
      display: flex; } }

.padding-1 {
  padding: 1px; }

header {
  background-color: #000;
  color: #fff; }
  header .header-block {
    display: flex;
    width: 95%;
    padding: 1rem 0; }
    header .header-block .logo {
      width: 15%;
      display: flex;
      align-items: center;
      justify-content: space-between; }
      header .header-block .logo .logo2 {
        padding-top: 2.2rem; }
    header .header-block .Mynavbar {
      margin-left: auto; }
      header .header-block .Mynavbar .top-navbar-block .top-navbar {
        display: flex;
        justify-content: flex-end; }
        header .header-block .Mynavbar .top-navbar-block .top-navbar ul {
          flex-direction: row; }
        header .header-block .Mynavbar .top-navbar-block .top-navbar .top-navbar-item:hover {
          color: #00adef !important; }
          header .header-block .Mynavbar .top-navbar-block .top-navbar .top-navbar-item:hover a {
            color: #00adef !important; }
        @media only screen and (max-width: 768px) {
          header .header-block .Mynavbar .top-navbar-block .top-navbar .top-navbar-item .mobile-hidden {
            display: none; } }

.li-white {
  color: #fff !important;
  text-decoration: none;
  font-size: 1.1rem !important;
  font-weight: 400; }
  .li-white:first-child span {
    font-size: 1.1rem; }
  .li-white:first-child .icon {
    text-align: center;
    padding-right: 1rem; }
    .li-white:first-child .icon i {
      height: 1.5rem;
      width: 1.5rem;
      line-height: 1.5rem;
      border: 1px solid white; }

.myNav-item {
  padding: 0 1.2rem;
  font-weight: 400;
  display: flex;
  align-items: center; }
  .myNav-item:hover {
    color: #00adef !important; }
    .myNav-item:hover a {
      color: #00adef !important; }
  .myNav-item:last-child {
    align-self: center; }

.navbar-mobile-button {
  justify-content: flex-end; }

.mobile-search {
  display: none; }
  @media only screen and (max-width: 1200px) {
    .mobile-search {
      display: inline-block;
      padding-right: 10px; } }

.myCarousel .myCarousel-inner .myCarousel-item {
  position: relative; }
  .myCarousel .myCarousel-inner .myCarousel-item .myCarousel-item__content {
    position: absolute;
    left: 10%;
    top: 7%;
    width: 31%; }
    @media only screen and (max-width: 768px) {
      .myCarousel .myCarousel-inner .myCarousel-item .myCarousel-item__content {
        display: none; } }
    .myCarousel .myCarousel-inner .myCarousel-item .myCarousel-item__content .carousel-item__title-dark {
      color: #333;
      font-size: 2.3rem; }
    .myCarousel .myCarousel-inner .myCarousel-item .myCarousel-item__content .carousel-item__title-white {
      color: #fff;
      font-size: 2.3rem; }
    .myCarousel .myCarousel-inner .myCarousel-item .myCarousel-item__content .btn-gray {
      background-color: #333;
      color: #999;
      font-size: 1.1rem;
      font-weight: 500;
      padding: 10px 35px;
      letter-spacing: 1px;
      border-radius: none !important;
      border: none;
      margin-top: 3rem;
      transition: all 0.2s ease-in-out; }
      .myCarousel .myCarousel-inner .myCarousel-item .myCarousel-item__content .btn-gray:hover {
        background-color: #000; }

.search-bar {
  background-color: #333;
  height: 98px;
  display: grid;
  place-items: center; }
  .search-bar .search-bar-container {
    width: 85%;
    background-color: white;
    padding: 0; }
    .search-bar .search-bar-container .search-input {
      width: 100%;
      padding: 10px 15px;
      border: none; }
      .search-bar .search-bar-container .search-input::placeholder {
        font-size: 1.3rem;
        font-weight: bold;
        letter-spacing: 1px;
        color: #999; }
      .search-bar .search-bar-container .search-input:focus {
        outline: none; }
    .search-bar .search-bar-container span {
      background-color: #fff;
      align-self: center;
      padding-right: 20px;
      cursor: pointer; }
      .search-bar .search-bar-container span i {
        color: black !important;
        font-size: 1.2rem !important; }

.intro {
  background-color: #000; }
  .intro .intro-block {
    width: 87%; }
    .intro .intro-block .intro-content .intro-main {
      margin-top: 5rem;
      color: #fff; }
      .intro .intro-block .intro-content .intro-main .intro-title {
        font-size: 2.3rem;
        letter-spacing: 1px; }
      .intro .intro-block .intro-content .intro-main .intro-body {
        font-size: 1rem;
        margin-top: 1.2rem; }
        .intro .intro-block .intro-content .intro-main .intro-body span {
          color: #0088c6; }
          .intro .intro-block .intro-content .intro-main .intro-body span a {
            text-decoration: none; }
            .intro .intro-block .intro-content .intro-main .intro-body span a:hover {
              color: #0088c6; }
      .intro .intro-block .intro-content .intro-main .intro-button {
        background-color: #00adef;
        color: #999;
        font-size: 1.1rem;
        font-weight: 500;
        padding: 10px 35px;
        letter-spacing: 1px;
        border-radius: none !important;
        border: none;
        margin-top: 1.5rem;
        color: white;
        margin-bottom: 2rem; }
        @media only screen and (max-width: 576px) {
          .intro .intro-block .intro-content .intro-main .intro-button {
            width: 100%; } }
        .intro .intro-block .intro-content .intro-main .intro-button:hover {
          background-color: #0088c6; }

.brand-hub {
  background-color: #000; }
  .brand-hub .brand-hub-block {
    width: 87%; }
    .brand-hub .brand-hub-block .brand-hub__item-container {
      grid-row-gap: 5px; }
      .brand-hub .brand-hub-block .brand-hub__item-container .brand-hub__item {
        padding: 5px; }

.news {
  background-color: #000; }
  .news .news-menu {
    display: grid;
    place-items: center; }
    .news .news-menu .news-menu-container {
      margin-top: 2rem; }
      .news .news-menu .news-menu-container .news-menu__item {
        padding: 0 1.5rem; }
        .news .news-menu .news-menu-container .news-menu__item a {
          text-decoration: none;
          color: white;
          font-size: 1.1rem; }
          .news .news-menu .news-menu-container .news-menu__item a i {
            padding-right: 0.9rem; }
        .news .news-menu .news-menu-container .news-menu__item:hover {
          color: #00adef !important; }
          .news .news-menu .news-menu-container .news-menu__item:hover a {
            color: #00adef !important; }
        .news .news-menu .news-menu-container .news-menu__item:first-child {
          position: relative; }
          .news .news-menu .news-menu-container .news-menu__item:first-child a {
            color: #00adef; }
          .news .news-menu .news-menu-container .news-menu__item:first-child::after {
            content: "";
            display: block;
            background-color: #00adef;
            height: 1px;
            position: absolute;
            width: 59%;
            margin-top: 7px; }

.gallery-container {
  margin-top: 2rem; }

.gallery-button {
  display: grid;
  place-items: center;
  margin-top: 1.5rem; }
  .gallery-button .show-more {
    background-color: #333;
    color: #999;
    font-size: 1.1rem;
    font-weight: 500;
    padding: 10px 35px;
    letter-spacing: 1px;
    border-radius: none !important;
    border: none;
    padding: 2px 22px;
    letter-spacing: 0;
    transition: all 0.2s; }
    .gallery-button .show-more i {
      padding-right: 3px; }
    .gallery-button .show-more:hover span {
      color: white; }

.tesitmonials {
  background-color: #000;
  color: #fff;
  padding-top: 3rem;
  font-size: 1rem; }
  .tesitmonials .testimonials-container .testimonial-head .head__items {
    flex-wrap: wrap; }
    .tesitmonials .testimonials-container .testimonial-head .head__items li {
      padding-right: 15px; }
      .tesitmonials .testimonials-container .testimonial-head .head__items li span i {
        padding-right: 3px; }
  .tesitmonials .testimonials-container .testimonial-body p {
    margin-bottom: 0; }

.links {
  background-color: #000;
  padding-top: 3rem; }
  .links .topic,
  .links .shopping,
  .links .about,
  .links .discover {
    color: #fff;
    font-size: 1rem; }
    .links .topic .title,
    .links .shopping .title,
    .links .about .title,
    .links .discover .title {
      position: relative;
      font-size: 2.3rem;
      font-family: MBCorpo Title, DaimlerCAC-Regular; }
      .links .topic .title::after,
      .links .shopping .title::after,
      .links .about .title::after,
      .links .discover .title::after {
        content: "";
        display: block;
        height: 1.5px;
        background-color: #333;
        position: absolute;
        width: 100%;
        margin-top: 2rem; }
    .links .topic .links-menu,
    .links .shopping .links-menu,
    .links .about .links-menu,
    .links .discover .links-menu {
      margin-top: 4rem; }
      .links .topic .links-menu li a,
      .links .shopping .links-menu li a,
      .links .about .links-menu li a,
      .links .discover .links-menu li a {
        text-decoration: none;
        color: #999; }
      .links .topic .links-menu li:hover,
      .links .shopping .links-menu li:hover,
      .links .about .links-menu li:hover,
      .links .discover .links-menu li:hover {
        color: #00adef !important; }
        .links .topic .links-menu li:hover a,
        .links .shopping .links-menu li:hover a,
        .links .about .links-menu li:hover a,
        .links .discover .links-menu li:hover a {
          color: #00adef !important; }

.contact {
  background: #000;
  padding-top: 2rem; }
  .contact .contact-block .contact-header {
    position: relative;
    font-size: 2.3rem;
    font-family: MBCorpo Title, DaimlerCAC-Regular;
    color: #fff; }
    .contact .contact-block .contact-header::after {
      content: "";
      display: block;
      height: 1.5px;
      background-color: #333;
      position: absolute;
      width: 100%;
      margin-top: 2rem; }
  .contact .contact-block .contact-body {
    margin-top: 4rem; }
    .contact .contact-block .contact-body .contact-body__left {
      color: #999;
      padding-bottom: 2rem; }
      .contact .contact-block .contact-body .contact-body__left .email-input {
        margin-bottom: 1rem; }
        .contact .contact-block .contact-body .contact-body__left .email-input .email-input__box {
          padding: 10px 15px;
          border: none;
          background-color: #333;
          width: 60%; }
          .contact .contact-block .contact-body .contact-body__left .email-input .email-input__box::placeholder {
            font-size: 1.3rem;
            font-weight: bold;
            letter-spacing: 1px;
            color: #fff; }
          .contact .contact-block .contact-body .contact-body__left .email-input .email-input__box::placeholder {
            font-style: italic;
            font-family: MBCorpo Title, DaimlerCAC-Regular;
            font-weight: lighter; }
          .contact .contact-block .contact-body .contact-body__left .email-input .email-input__box:focus {
            outline: none; }
        .contact .contact-block .contact-body .contact-body__left .email-input .email-submit-btn {
          color: #999;
          border: none;
          height: 41px;
          margin: 0;
          margin-left: -3px;
          padding-left: 1rem;
          padding-right: 5rem;
          background: linear-gradient(#242424, #0b0b0b); }
    .contact .contact-block .contact-body .contact-body__right {
      color: #999;
      font-size: 1rem;
      width: 85%;
      padding-bottom: 2rem; }
      .contact .contact-block .contact-body .contact-body__right .social-media {
        flex-wrap: wrap; }
        .contact .contact-block .contact-body .contact-body__right .social-media .social-media__item {
          font-size: 1.1rem;
          padding: 0px 25px; }
          .contact .contact-block .contact-body .contact-body__right .social-media .social-media__item:hover {
            color: #00adef !important; }
            .contact .contact-block .contact-body .contact-body__right .social-media .social-media__item:hover a {
              color: #00adef !important; }

.footer-brandhub {
  background: #000; }
  .footer-brandhub .footer-brandhub-block hr {
    margin: 0;
    background-color: #333; }
  .footer-brandhub .footer-brandhub-block .footer-brandhub-item {
    text-align: center;
    padding: 2rem 0; }
    .footer-brandhub .footer-brandhub-block .footer-brandhub-item img {
      height: 2rem; }
  .footer-brandhub .footer-brandhub-block p {
    margin-top: 2rem;
    margin-bottom: 0;
    color: #999; }
    .footer-brandhub .footer-brandhub-block p .web-link:hover {
      color: #00adef !important; }
      .footer-brandhub .footer-brandhub-block p .web-link:hover a {
        color: #00adef !important; }
    .footer-brandhub .footer-brandhub-block p .web-link a {
      text-decoration: none;
      color: #fff; }

.footer {
  background-color: #000;
  padding-top: 2.2rem; }
  .footer .language .deutsch {
    padding-right: 1rem;
    border-right: 1px solid #00adef; }
    .footer .language .deutsch a {
      text-decoration: none;
      color: #00adef; }
      .footer .language .deutsch a:hover {
        color: #0088c6; }
  .footer .language .english {
    padding-left: 1rem; }
  .footer .links-group {
    display: flex;
    justify-content: flex-end; }
    @media only screen and (max-width: 1200px) {
      .footer .links-group {
        display: block; } }
    .footer .links-group .link-list {
      justify-content: flex-end;
      flex-wrap: wrap; }
      @media only screen and (max-width: 992px) {
        .footer .links-group .link-list {
          justify-content: flex-start !important; } }
      .footer .links-group .link-list li {
        padding: 0 0.5rem; }
        .footer .links-group .link-list li:hover {
          color: #00adef !important; }
          .footer .links-group .link-list li:hover a {
            color: #00adef !important; }
        .footer .links-group .link-list li a {
          text-decoration: none;
          color: #333; }
  .footer .back-to-top {
    text-align: right; }
    .footer .back-to-top:hover {
      color: #00adef !important; }
      .footer .back-to-top:hover a {
        color: #00adef !important; }
    .footer .back-to-top a {
      color: #333;
      text-decoration: none; }
      .footer .back-to-top a i {
        padding-left: 0.5rem; }

/*# sourceMappingURL=style.css.map */
