@mixin hover-2-blue {
  &:hover {
    a {
      color: $btn-lightBlue !important;
    }
    color: $btn-lightBlue !important;
  }
}

@mixin button($bg-color) {
  background-color: $bg-color;
  color: $text-gray;
  font-size: $medium-size;
  font-weight: 500;
  padding: 10px 35px;
  letter-spacing: 1px;
  border-radius: none !important;
  border: none;
}

@mixin underline($margin-top) {
  position: relative;
  font-size: $large-size;
  font-family: MBCorpo Title, DaimlerCAC-Regular;
  &::after {
    content: "";
    display: block;
    height: 1.5px;
    background-color: $text-darkgray;
    position: absolute;
    width: 100%;
    margin-top: $margin-top;
  }
}

@mixin input-box($placeholder-color) {
  padding: 10px 15px;
  border: none;
  &::placeholder {
    font-size: 1.3rem;
    font-weight: bold;
    letter-spacing: 1px;
    color: $placeholder-color;
  }
}
// RESPONSIVE
$XS: 576px; //Mobile
$SM: 576px; //iPads,tablets
$MD: 768px; //laptops
$LG: 992px; //desktop
$XL: 1200px; //TV

//***Lưu ý:
//Phải để max-width lớn ở trên
//max-width nhỏ ở dưới ****

@mixin Responsive($canvas) {
  @if $canvas == XS {
    @media only screen and (max-width: $XS) {
      @content;
    }
  } @else if $canvas == SM {
    @media only screen and (max-width: $SM) {
      @content;
    }
  } @else if $canvas == MD {
    @media only screen and (max-width: $MD) {
      @content;
    }
  } @else if $canvas == LG {
    @media only screen and (max-width: $LG) {
      @content;
    }
  } @else {
    @media only screen and (max-width: $XL) {
      @content;
    }
  }
}
