@mixin hover-2-blue {
  &:hover {
    a {
      color: $btn-lightBlue !important;
    }
  }
}
// RESPONSIVE
$XS: 576px; //Mobile
$SM: 576px; //iPads,tablets
$MD: 768px; //laptops
$LG: 992px; //desktop
$XL: 1200px; //TV

//***Lưu ý:
//Phải để max-width lớn ở trên
//max-width nhỏ ở dưới ****

@mixin Responsive($canvas) {
  @if $canvas == XS {
    @media only screen and (max-width: $XS) {
      @content;
    }
  } @else if $canvas == SM {
    @media only screen and (max-width: $SM) {
      @content;
    }
  } @else if $canvas == MD {
    @media only screen and (max-width: $MD) {
      @content;
    }
  } @else if $canvas == XL {
    @media only screen and (max-width: $XL) {
      @content;
    }
  }
}
