// BASE
$fontsize: 14px;

//FONT
$large-size: 2.5rem; //For title
$medium-size: 1.15rem; //For menu, navbar, button
$small-size: 1rem; //For text in contents
$font-weigth: 400;

//Color
$black: #000;
$white: #fff;
$text-gray: #ddd;
$text-darkgray: #333;
$bg-gray: #333;
$btn-lightBlue: #00adef;
$btn-darkBlue: #0088c6;
